.project-image {
    position: relative;
    text-align: center;
    color: white;
    width: 200px;

  }

.background-image {
    width:100%;
}
.overlay-text {
    position: absolute;
    left: 20%;
    top: 10%;
}