.home-page {

    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }
    h1 {
        color: #fff;
        font-size: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;
        // white-space: nowrap;
        // overflow: hidden;

        &::before {
            content: '<h1>';
            font-family: 'La Belle Aurore';
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            left: 15px;
            opacity: 0.6;

        }

        &::after {
            content: '<h1 />';
            font-family: 'La Belle Aurore';
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: 18px;
            margin-left: 20px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;

        }
        
        img {
            width: 32px;
            margin-left: 20px;
            opacity: 0;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;


        }
    }
    
    h2 {

        color: #8d8d8d;
        margin-top: 20px;
        font-weight: 400;
        font-size: 11px;

        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;
    }

    .flat-button {
        color: #ffd700;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #ffd700;
        margin-top: 25px;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;

        &:hover {
            background: #ffd700;
            color: #333;

        }


    }

}

.rotating-text {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    color: #fff;
    transform: translateX(-80px);
    margin-left: 80px;
}


.rotating-text p {
    display: inline-flex;
    margin: 0;
    vertical-align: top;
}


.rotating-text p .word{
    position: absolute;
    display: flex;
    opacity: 0;
}

.rotating text p .word .letter {
    transform-origin: center center 25px;    
}

.rotating text p .word .letter.out {
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}


.rotating-text p .word .letter.in {
    transition: 0.8s ease;
}

.rotating-text p .word .letter.behind {
    transform: rotateX(-90deg);
}

.w-1 {
    color: #e74c3c;
}
.w-2 {
    color: #7e37cf;
}
.w-3 {
    color: #7bd643;
}
.w-4 {
    color: #1d29d3;
}
.w-5 {
    color: #ffffff;
}
